# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.py~

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
node_modules
npm-debug.log
db.sqlite3
secret