asn1crypto==0.24.0
beautifulsoup4==4.7.1
bleach==3.1.0
certifi==2019.3.9
chardet==3.0.4
cryptography==2.1.4
Django==1.10
django-cors-headers==2.5.2
djangorestframework==3.7.4
html2text==2018.1.9
idna==2.6
keyring==10.6.0
keyrings.alt==3.0
Markdown==3.0.1
Pillow==5.4.1
psycopg2==2.7.7
pycrypto==2.6.1
pycurl==7.43.0.2
pygobject==3.26.1
pytz==2018.9
pyxdg==0.25
requests==2.21.0
SecretStorage==2.3.1
six==1.11.0
soupsieve==1.8
urllib3==1.24.1
uWSGI==2.0.18
webencodings==0.5.1
